{% extends 'base.html' %}
{% block page_content %}
<!--Edit Page-->
<section id="delete-page" class="editPage">
<form id="delete-form" action="{% url 'delete album' album.pk %}" method="post">
    <form>
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">

                <!-- Form for Deleting an Album -->
                {{ form }}
                {% csrf_token %}

                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
</form>
</section>
{% endblock %}